.menu-container{
    width: 100%;
    height: 100vh;
    background-color: #45519d;
    display: none;
}
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
svg{
    width: 100px;
    height: 100px;
}
.paragraph-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
#avatar-semi-paragraph{
    font-size: 2rem;
    color: white;
}
.info-container{
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: repeat(4,11vh);
}
.info-big-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-small-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.info{
    font-size: 1.5rem;
    color: white;
}
.paragraph-style{
    font-size: 1.3rem;
}
.time-icon{
    color: white;
    font-size: 1.6rem;
    margin: 20px;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    padding: 0;
    margin: 0;
}
 li{
    display: none;
    margin: 0px;

}
.inner-paragraph-style{
    color: white;
    font-size: 1.3rem;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 5px;
}
.container{
    display: none;
}