.settings-container{
    width: 100%;
    height: 100vh;
    background-color: #45519d;
    display: none;
}
.header{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#menutime{
    font-size: 2rem;
    margin-right: 20px;
    color: white;
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70vh;
}
#reset{
    font-size: 2.5rem;
}